<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RecipeBox</title>
</head>
<body style="background-color: #F7DC6F;">
    <h1 style="font-size:70px; text-align:center;"><u>Recipe Box</u></h1>
    <br>
    <ul style="width:175px; margin-left:auto; margin-right: auto;">
        {% for recipe in recipes %}
            <li>               
                <a href="/recipe/{{ recipe.id }}" style="color:blue;">{{ recipe.title }}</a>    
            </li>
        {% endfor %}
    </ul>
    <div style="width: 175px; margin-left: auto; margin-right: auto;">
        <button><a href="/addrecipe/" style="color:black;">Add New Recipe</a></button>
        <br>
        <button><a href="/addauthor/" style="color:black">Add New Author</a></button>
    </div>
</body>
</html>